<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGVxfr550xqhTU5QHnS5nK5aWFHWcGAQs</string>
	<key>GCM_SENDER_ID</key>
	<string>254542560195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazoom.deckly</string>
	<key>PROJECT_ID</key>
	<string>kazoom-deckly</string>
	<key>STORAGE_BUCKET</key>
	<string>kazoom-deckly.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254542560195:ios:59f9741070fe452102db76</string>
</dict>
</plist>